<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Cracking the Technical Interview V2/Chapter 18/Question18_5/Question.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Question18_5.Question"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Cracking the Technical Interview V2"/>
</launchConfiguration>
